[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pymysql = "*"
sqlalchemy = "*"
flask-login = "*"
mysql-client = "*"
mysql-connector-python = "*"

[dev-packages]

[requires]
python_version = "3.10"
