@charset "utf-8";
/* CSS Document*/
body{
    background-image: url('https://www.datocms-assets.com/52693/1655103334-keamanan-data-1.jpg');
    margin:0px;
    padding:0px;
}
a{
    text-decoration:none;
}
 
section{
    width:100%;
    height:90vh;
    position: relative;
}
 
nav{
    display: flex;
    justify-content: space-between;
    align-items:center;
    height:60px;
    background-color:#FFFFFF;
    box-shadow:2px 2px 12px rgba(0,0,0,0.2);
    padding:0px 5%;
     
}
.logo{
    font-family:RoadTest;
    color:#000000;
    font-size: 22px;
    font-weight: bold;
}
.text-container p:nth-child(1){
    font-family: calibri;
    font-weight: bold;
    color: #ffffff;
    font-size: 22px;
}
 
.text-container p:nth-child(2){
    font-family: calibri;
    font-weight: bold;
    letter-spacing: 2px;
    color: #ffffff;
    font-size: 60px;
}
 
.text-container p:nth-child(3){
    font-family: myriad pro regular;
    color: #ffffff;
    font-size: 15px;
    line-height: 30px;
}
 
.text-container p{
    line-height: 0px;
    margin: 50px 0px 25px;
}
 
.text-container{
    background-color: #565555a9;
    padding: 20px;
    position: absolute;
    left: 13%;
    top: 42%;
    transform: translate(-13%, -42%);
}
 
.text-container button{
    width: 130px;
    height: 42px;
    border-radius: 10px;
    font-family: calibri;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    margin: 0px 10px;
}
 
.login{
    border: 2px solid #373636;
    color: #363637;
}
 
.register{
    background-color: #043bf0;
    color: #ffffff;
    border: none;
}
 
button:active{
    transform: scale(1.1);
}
 
.model{
    height: 560px;
    position: absolute;
    bottom: 60px;
    left: 80%;
    transform: translateX(-70%);
}
 
.services{
    height:200px;
    background-color:#f6f5f5;
    padding: 2% 10% 0px 10%;
}
 
.services-text p:nth-child(1){
    font-family: calibri;
    font-weight:bold;
    color:#1d1c1c;
    font-size:30px;
    line-height:0px;
    text-align: center;
    margin-bottom: 20px;
}
 
.services-text p:nth-child(2){
    text-align: center;
    font-family:calibri;
    color:#7e7d7d;
 
}
 
.services-text{
    margin:50px 0px;
}