<!DOCTYPE html>
<html>
<head>
    <title>Flask Register Example</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
</head>
<body>
    <div class="register-container">
        <form action="/account/add" method="post">
            <label for="name">Name</label><br>
            <input type="text" id="name" name="name"><br>
            <label for="username">Username</label><br>
            <input type="text" id="username" name="username"><br>
            <label for="password">Password</label><br>
            <input type="password" id="password" name="password"><br>
            <input type="submit" value="Tambah">
        </form>        
    </div>
</body>
</html>