<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Password Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>   
</head>
 
<body>
    <section> 
        <div class="text-container">
            <p>Welcome !</p>
            <p>Password Manager</p>
            <p>Tempatnya menyimpan semua password Anda dengan aman :)</p>
            <a href="/login"><button class="login" onclick="openPopupLogin">Login</button></a>
            <a href="/register"> <button class="register">Register</button></a>
        </div>

    </section>
 
    <!-- services -->
    <div class="services">
</body>
{% extends "footer.html" %}
</html>