<!DOCTYPE html>
<html>
<head>
    <title>Password Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <!-- Header -->
    <header>
        <h1>Welcome to Password Manager</h1>
        <p>Tempatnya menyimpan semua password Anda dengan aman</p>
    </header>

    <!-- Navbar -->
    <nav>
        <a href="/">Home</a>
        <a href="/login">Login</a>
    </nav>

    <!-- Main content -->
    <main>
        <!-- Artikel -->
        <article>
            <h2>Apa itu Password Manager?</h2>
            <p>Password manager adalah aplikasi atau alat yang membantu Anda menyimpan dan mengelola password dengan aman. Dengan menggunakan password manager, Anda tidak perlu lagi mengingat banyak password untuk setiap akun yang Anda miliki, cukup dengan mengingat satu kata sandi saja untuk masuk ke aplikasi password manager.</p>
            <p>Password manager juga menyediakan fitur-fitur keamanan tambahan, seperti enkripsi password dan autofill form login, yang memudahkan Anda dalam mengakses akun-akun yang Anda miliki.</p>
        </article>
    </main>

    <!-- Footer -->
    <footer>
        Kelompok 3 | Password Manager
    </footer>
</body>
</html>
