<!DOCTYPE html>
<html>
<head>
    <title>User - Password Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">
    <script src="{{ url_for('static', filename='js/delete.js') }}"></script>
    <script src="{{ url_for('static', filename='js/user.js') }}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <!-- Header -->
    <header>
        <h1>Welcome to Password Manager</h1>
        <p>Tempatnya menyimpan semua password Anda dengan aman</p>
    </header>

    <!-- Navbar -->
    <nav>
        <a href="/logout">Logout</a>
    </nav>
    {% if message %}
        <script>
            var error = "{{ message }}"
            alert(message);
        </script>
    {% endif %}
    <!-- Main content -->
    <main>
        <h2>Daftar Accounts</h2>
        <button onclick="openPopupAdd()">Tambah Account</button>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for account in accounts %}
                <tr>
                    <td>{{ account.name }}</td>
                    <td>{{ account.username }}</td>
                    <td>{{ account.password }}</td>
                    <td>
                        <button onclick="window.location.href='/account/update/{{ account.id }}'" type="button" class="btn btn-warning">Ubah</button>
                        <button id="delete-button" onclick="deleteData('{{ account.id }}')" class="btn btn-danger" data-endpoint="/account/delete/{{ account.id }}">Hapus</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
            <!-- Pop-up for adding a new account -->
            <div id="popupadd" style="display: none;">
                <!-- Include the 'add' form -->
                {% include 'add.html' %}
            </div>
        </main>
</body>
{% extends "footer.html" %}
</html>
